 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer with Bachelor degree in Computer Science who likes to hack things in ruby or python or on the jvm. Over 15 years experience with building robust web applications using the jvm and rails. Specializing in logistics and SAAS solutions. Currently studying machine learning, elixir and python.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm available for freelance projects in the Netherlands and globally using @dhh's remote working principles. More references and testimomials of my work can be found at my <a style="color:#2c3e50" href=http://nl.linkedin.com/in/johanhendrikx>Linkedin</a>. Or feel free to contact me using the form below.</p>
                </div>
            </div>
        </div>
    </section>